*{
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}


body{
    display: grid;
    grid-template-rows: 82vh 13vh 5vh;
    background-color: aqua;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    gap: 10px;
}
.container img{
    margin-top: 5px;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    border-radius: 6px;
}
#imagem-grande-container img{
    max-width: 100%;
    max-height: 100%;
}