body{
    display: grid;
    grid-template-rows: 82vh 13vh 5vh;
    background-color: aqua;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    gap: 10px;
}